{# src/Aueio/ClubBundle/Resources/views/Team/edit.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	Team edit {{ id }}
{% endblock %}

{% block content %}
	<form action="{{ path('aueio_club_team_edit', {"id": id}) }}" method="post" {{ form_enctype(form) }}>
		{% include 'AueioClubBundle:Team:form.html.twig' %}
	</form>
{% endblock %}
