{# src/Aueio/ClubBundle/Resources/views/Team/list.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	Teams list
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "team"} %}
{% endblock %}

{% block sidebar %}
{% if is_granted("ROLE_ADMIN") %}
	<li><a href="{{ path('aueio_club_team_new') }}">New Team</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div id="team">
	<h2> Liste des équipes </h2>
	<ul class="list">
    {% for team in teams %}
		<li>{% include 'AueioClubBundle:Team:short.html.twig' with {'team': team}  %}</li>
    {% else %}
        <h3>No Team found</h3>
    {% endfor %}
	</ul>
</div>
{% endblock %}