{# src/Aueio/ClubBundle/Resources/views/Team/list.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	Teams list
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle:Team:header.html.twig' %}
{% endblock %}

{% block sidebar %}
	<li><a href="{{ path('aueio_club_team_new') }}">New Team</a></li>
{% endblock %}

{% block content %}
	<h2> Liste des équipes </h2>

	<ul>
    {% for team in teams %}
		<li><p><a href="{{ path('aueio_club_team_view', {"id": team.id}) }}">{{ team.name }}</a> {{ team.adress }}</p></li>
    {% else %}
        <h1>No Team found</h1>
    {% endfor %}
	</ul>
{% endblock %}