{# src/Aueio/ClubBundle/Resources/views/Team/short.html.twig #}
<div class="short">{% include 'AueioClubBundle:Team:link.html.twig' %}<div class="address">{{ team.gymName }} @ {{ team.gymAddress.name }}</div></div>
