{# src/Aueio/ClubBundle/Resources/views/Team/tab.link.html.twig #}
<li {% if selected == "team" %}class="selected" {%  endif %}><a href="{{ path('aueio_club_team_list') }}">{{ 'tab.team'|trans({}, 'AueioClubBundle') }}</a></li>