# Eclipse files
.buildpath
.project
.settings/
.externalToolBuilders/

# PhpStorm files
.idea/

# TMP files
*~

# Symfony files
web/info.php
web/bundles/
app/bootstrap*
app/cache/*
app/logs/*
vendor/
app/config/parameters.yml

# Development files
docker/app/log/
docker/db/dump/
