@CHARSET "UTF-8";

ul.game-selection-cols > li{
	display: inline-block;
	vertical-align: top;
	width: 158px;;	
	border-right: 1px dotted #9E8D99;
	padding: 10px;
	min-height: 150px;
}
ul.game-selection-cols > li > ul > li{
	height: 25px;
}
ul.game-selection-cols > li:last-child {
    border: none;
}
ul.game-selection-cols > li > h4 {
	text-align: center;
	padding-bottom: 20px;
}
.game-selection-cols img{
	height: 16px;
}
ul.game-selection-menu {
	float: right;
}
ul.game-selection-menu > li {
	display: inline-block;
	vertical-align: top;
}
#game-selection{
	padding: 0;
	margin: auto;
	width: 50%;
}
#game-selection h4{
	text-align: center;
	padding: 20px;
}
#game-selection > ul > li > div{
	width: 33%;
}
#game ul.list div.short div.name{
	width:50%;
}
#game .full div.name{
	width: 100%;
	text-align: center;
	font-size: 40px;
	margin-bottom: 20px;
}

ul.game-teams > li {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}
#game-desc{
	margin-bottom: 20px;
}

#game-desc > div.cols > div,
#game ul.game-teams > li > div,
#game ul.game-teams > li > ul{
	padding: 0px 20px;
}
.score {
	font-size: 1.5em;
	margin-bottom:20px;
}
div.LOST{
	display:inline;
	color:red;
}
div.WIN{
	color:green;
	display:inline;
}
div.NUL{
	color:blue;
	display:inline;
}