@CHARSET "UTF-8";

ul.game-selection-cols > li{
	display: inline-block;
	vertical-align: top;
	width: 124px;;	
	border-right: 1px dotted #9E8D99;
	padding: 10px;
	min-height: 150px;
}
ul.game-selection-cols > li > ul > li{
	height: 25px;
}
ul.game-selection-cols > li:last-child {
    border: none;
}
ul.game-selection-cols > li > h4 {
	text-align: center;
	padding-bottom: 20px;
}
.game-selection-cols img{
	height: 16px;
}
ul.game-selection-menu {
	float: right;
}
ul.game-selection-menu > li {
	display: inline-block;
	vertical-align: top;
}
#game-selection{
	padding: 0;
	margin: auto;
	width: 50%;
}
#game-selection h4{
	text-align: center;
	padding: 20px;
}

#game ul.list div.short div.name{
	width:58%;
}
.score {
	font-size: 1.5em;
	margin-bottom:20px;
}
#results > li > input{
	width: 32px;
	display: inline-block;
}
div.value,
#scores > li  ul > li{
	display: inline-block;
}
#scores > li > ul{
	height: 30px;
}
#scores img{
	height: 16px;
	vertical-align: middle;
}
li.goal > a,
li.referee > a,
li.value,
div.value {
    background-color: white;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #86717F;
    margin: 0 0 3px;
    padding: 2px 8px 3px 8px;
    text-decoration: none;
}
#scores li.selected >a,
li.delete > a,
li.goal:hover > a,
li.referee:hover > a{
    background-color: #86717F;
    color: white;
}
#results div.value{
	margin:20px;
}
li.action{
	float:right;
}
#results > li:first-child {
	text-align: right;
}
#results{
	margin-bottom: 30px;
}
#game-scores .cols{
	width:48%;
	padding:1%;
}
#game form > div.cols > div {
	margin-bottom: 15px;
}
#game form label{
	float: left;
	width: 30%;
}
#game div.name > div.vs{
	width: 10%;
}
#game div.name > div.link{
	width: 40%;
}
