@CHARSET "UTF-8";

.player-view{
	padding: 10px;
}
#player-header{
	padding-bottom: 20px;
}
#player ul.list div.long > div.short{
	width:60%;
}
#player ul.list div.long > div.team,
#player ul.list div.long > div.phone{
	width:20%;
}
li.player div.short > div{
	width: 33%;
}

#player-teams div.link{
	float:	right;
}
#aueio_club_player_edit_form #form_seasons{
	display: block;
}