@CHARSET "UTF-8";
#team ul.list div.short div.link{
	width:30%;
}
#team ul.list div.short div.address{
	width:70%;
}
.full h2{
	padding-left: 150px;;
}
.role-team > div {
	display: inline-block;
	width: 33%;
}
#team form .cols{
	padding: 2%;
	width: 46%;
}
#team_slot_days,
#team_seasons,
#team_contacts{
	display: block;
	width: 100%;
}
#team form .cols > div{
	margin-bottom: 15px;
}
#slot, #color{
	border: 1px dotted #9E8D99;
	padding: 10px;
}

#color > ul > li{
	margin-top: 15px;
}
#slot > div{
	margin-bottom: 15px;
}
#team_slot_days > label{
	width: 100%;
}
#trainning{
	text-align:center;
}
#news div.link{
	display: block;
	text-align: center;
	padding-bottom: 10px;
}
#team div.sample{
	maring: 0;
	border: 1px solid black;
	width: 60px;
	height: 20px;
}
#team #colors{
	padding: 0 10px;
}