<li><a href="{{ path('aueio_club_game_list') }}">Games</a></li>
<li><a href="{{ path('aueio_club_team_list') }}">Teams</a></li>
<li class="selected"><a href="{{ path('aueio_club_config_view') }}">Config</a></li>
			