{# src/Aueio/ClubBundle/Resources/views/Game/edit.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	Game edit {{ id }}
{% endblock %}

{% block content %}
	<form action="{{ path('aueio_club_game_edit', {"id": id}) }}" method="post" {{ form_enctype(form) }}>
		{% include 'AueioClubBundle:Game:form.edit.html.twig' %}
	</form>
{% endblock %}
