{# src/Aueio/ClubBundle/Resources/views/Game/full.html.twig #}
<div class="full">
	{% include 'AueioClubBundle:Game:name.html.twig' %}
	<div id="game-desc">
		<div class="cols">
			{% include 'AueioClubBundle:Game:date.html.twig' %}
			{% include 'AueioClubBundle:Game:time.html.twig' %}
		</div><div class="cols">
			<div class="adress">{{ game.adress }}</div>
		</div>
	</div>
	<ul class="game-teams">
{% for role in game.roles %}<li>
		{% include 'AueioClubBundle:Role:score.html.twig' with {'role': role} %}
		<ul>
		{% for player in game.getPlayers(role.team) %}
			<li class="player">{% include 'AueioClubBundle:Player:short.html.twig' with {'player': player} %}</li>
    	{% else %}
        	<h3>No Player found</h3>
		{% endfor %}
		</ul>
		</li>{% endfor %}
	</ul>
</div>
