<a href="http://www.google.com/calendar/event?action=TEMPLATE&text={{ game.name }}&dates={{ game.startTime|date("Ymd\THis\Z") }}/{{ game.endTime|date("Ymd\THis\Z") }}&location={{ game.adress }}&trp=false&sprop=handball.bouland.org&sprop=name:Meylan%20Handball" target="_blank"><img src="//www.google.com/calendar/images/ext/gc_button6.gif" border=0></a>
