<div id="intro">
	{% include 'AueioClubBundle:Game:name.html.twig' %}
	<div class="cols">
		<div class="address">{{ game.address }}</div>
	</div><div class="cols">
		{% include 'AueioClubBundle:Game:date.html.twig' %}
		{% include 'AueioClubBundle:Game:time.html.twig' %}
		{% include 'AueioClubBundle:Game:calendar.html.twig' %}
	</div>
</div>
