{# src/Aueio/ClubBundle/Resources/views/Game/list.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	Games list
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "game"} %}
{% endblock %}

{% block sidebar %}
{% if is_granted("ROLE_ADMIN") %}
<li><a href="{{ path('aueio_club_game_new') }}">New Game</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div id="game">
	<h2> Liste des Matchs </h2>
	<ul class="list">
    {% for game in games %}
		<li>
			{% include 'AueioClubBundle:Game:short.html.twig' with {'game': game}  %}
		</li>
    {% else %}
        <h1>No Game found</h1>
    {% endfor %}
	</ul>
</div>
{% endblock %}