{# src/Aueio/ClubBundle/Resources/views/Game/short.html.twig #}
<div class="player-short">
	<p>Match du <a href="{{ path('aueio_club_game_view', {"id": game.id}) }}">{{ game.date|date("d M Y") }}</a></p>
</div>
