{# src/Aueio/ClubBundle/Resources/views/Game/short.html.twig #}
<div class="short">{% include 'AueioClubBundle:Game:name.html.twig' %}<div class="short-link">le {% include 'AueioClubBundle:Game:link.html.twig' %}</div></div>