{# src/Aueio/ClubBundle/Resources/views/Game/short.html.twig #}
<div class="short"><div class="name">Match du {% include 'AueioClubBundle:Game:link.html.twig' %}</div>{% include 'AueioClubBundle:Game:name.html.twig' %}