{# src/Aueio/ClubBundle/Resources/views/footer.html.twig #}
<div id="footer">
	<div class="inner">
		<div id="footer_menu">
			<ul>
			{% block footer_menu %}
			<li>titi</li>
			<li>toto</li>
		    {% endblock %}
		    </ul>
	    </div>
    </div>
</div>