{# src/Aueio/ClubBundle/Resources/views/header.html.twig #}
<div id="header" >
	<div class="inner">
		<div id="header_title">
			<h1>		
				<a href="{{ path('_welcome') }}">Meylan Handball Club</a>
			</h1>
		</div>
		<ul id="header_menu" class="clearfix">
		{% block header_menu %}
			<li class="tab_selected"><a href="{{ path('aueio_club_game_list') }}">Games</a></li>
			<li class="tab_selected"><a href="{{ path('aueio_club_player_list') }}">Players</a></li>
			<li class="tab_selected"><a href="{{ path('aueio_club_team_list') }}">Teams</a></li>
		{% endblock %}
	    </ul>
    </div>
</div>