{# src/Aueio/ClubBundle/Resources/views/header.html.twig #}
<div id="header" >
	<div class="inner">
		<div id="header_title">
			<h1>		
				<a href="{{ path('_welcome') }}">Meylan Handball Club</a>
			</h1>
		</div>
		<ul id="header_menu" class="clearfix">
		{% block header_menu %}
		{% endblock %}
	    </ul>
    </div>
</div>