{# src/Aueio/ClubBundle/Resources/views/Player/edit.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	Profile edit
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "player"} %}
{% endblock %}

{% block sidebar %}
	<li><a href="{{ path('fos_user_profile_show') }}">View</a>
	<li class="selected"><a href="{{ path('fos_user_profile_edit') }}"> Edit</a></li>
	<li><a href="{{ path('aueio_club_player_delete', {"id": app.user.id}) }}">Delete</a></li>
{% endblock %}

{% block content %}
<div id="player">
	{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
</div>
{% endblock %}
