<br /><br />
{{ 'email.message.form'|trans({}, 'AueioClubBundle') }}
<br />
<a href="{{ url('aueio_club_player_view', {"id": player.id}) }}">{{ player.firstname }} {{ player.lastname|slice(0,1) }}</a>
