<li><a href="{{ path('aueio_club_game_list') }}">Games</a></li>
<li><a href="{{ path('aueio_club_team_list') }}">Teams</a></li>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<li class="selected"><a href="{{ path('aueio_club_player_list') }}">Players</a></li>
{% endif %}
