{# src/Aueio/ClubBundle/Resources/views/Player/list.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	{{ 'player.title.list'|trans({}, 'AueioClubBundle') }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "player"} %}
{% endblock %}

{% block content %}
<div id="player">
	<h2>{{ 'player.title.list'|trans({}, 'AueioClubBundle') }}</h2>
	<ul class="list">
    {% for player in players %}
		<li class="player">{% include 'AueioClubBundle:Player:long.html.twig' with {'player': player} %}</li>
    {% else %}
        <h3>{{ 'player.notfound'|trans({}, 'AueioClubBundle') }}</h3>
    {% endfor %}
	</ul>
</div>
{% endblock %}