{# src/Aueio/ClubBundle/Resources/views/Player/new.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	Player new
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "player"} %}
{% endblock %}

{% block sidebar %}
	<li class="selected"><a href="{{ path('aueio_club_player_new') }}">New Player</a></li>
{% endblock %}

{% block content %}
<div id="player">
	<form action="{{ path('aueio_club_player_new') }}" method="post" {{ form_enctype(form) }}>
		{% include 'AueioClubBundle:Player:form.html.twig' %}
	</form>
</div>
{% endblock %}