{# src/Aueio/ClubBundle/Resources/views/Player/view.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	Login
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "player"} %}
{% endblock %}

{% block content %}
	<div id="player-login">
		<p>
			{% autoescape false %}{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}{% endautoescape %}
		</p>
	</div>
{% endblock %}
