{# src/Aueio/ClubBundle/Resources/views/Player/view.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	Login
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "player"} %}
{% endblock %}

{% block fos_user_content %}
<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
{% endblock fos_user_content %}

{% block content %}
	<div id="player-login">
		<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
	</div>
{% endblock %}
