{# src/Aueio/ClubBundle/Resources/views/Player/short.html.twig #}
<div class="player-short">
	<p>Player {{ player.id }} <a href="{{ path('aueio_club_player_view', {"id": player.id}) }}">{{ player.surname }}</a> {{ player.phone }} </p>
</div>
