{# src/Aueio/ClubBundle/Resources/views/Player/short.html.twig #}
<div class="short">{% include 'AueioClubBundle:Player:link.html.twig' %}<div class="position">{{ ('player.' ~ player.position)|trans({}, 'AueioClubBundle') }}</div><div class="hand">{{ ('player.' ~ player.hand)|trans({}, 'AueioClubBundle') }}</div></div>