{# src/Aueio/ClubBundle/Resources/views/Player/tab.link.html.twig #}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<li {% if selected == "player" %}class="selected" {%  endif %}><a href="{{ path('aueio_club_player_list') }}">Players</a></li>
{% endif %}