{# src/Aueio/ClubBundle/Resources/views/Player/view.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	Player view {{ player.id }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "player"} %}
{% endblock %}

{% block sidebar %}
	<li  class="selected"><a href="{{ path('aueio_club_player_view', {"id": player.id}) }}">View</a>
	{% if (player.id == app.user.id) or is_granted("ROLE_ADMIN") %}
	<li><a href="{{ path('fos_user_profile_edit') }}"> Edit</a>
	<li><a href="{{ path('aueio_club_player_delete', {"id": player.id}) }}">Delete</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div id="player">
	{% include 'AueioClubBundle:Player:full.html.twig' %}
</div>
{% endblock %}
