{# src/Aueio/ClubBundle/Resources/views/Player/view.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	Player view {{ player.id }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle:Player:header.html.twig' %}
{% endblock %}

{% block sidebar %}
	<li  class="selected"><a href="{{ path('aueio_club_player_view', {"id": player.id}) }}">View</a>
	{% if me %}<li><a href="{{ path('fos_user_profile_edit') }}"> Edit</a>{% endif %}
	<li><a href="{{ path('aueio_club_player_delete', {"id": player.id}) }}">Delete</a></li>
{% endblock %}

{% block content %}
	{% include 'AueioClubBundle:Player:full.html.twig' with {'player': player} %}
{% endblock %}
