@CHARSET "UTF-8";

@CHARSET "UTF-8";
#game .short > div.name{
	text-align: center;
}
ul.game-selection-cols > li{
	display: inline-block;
	vertical-align: top;
	border-right: 1px dotted #9E8D99;
	padding: 0 5px;
	min-height: 300px;
}
ul.game-selection-cols > li.miss,
ul.game-selection-cols > li.wait{
	width: 130px;
}
ul.game-selection-cols > li.shop{
	width: 110px;
}
ul.game-selection-cols > li.play{
	width: 165px;
}
ul.game-selection-cols > li > ul > li{
	height: 25px;
}
ul.game-selection-cols > li:last-child {
    border: none;
}

.game-selection-cols img{
	height: 16px;
}
#game #sheet{
	padding: 20px;
}
#game a > img {
	vertical-align: top;
}
ul.game-selection-menu {
	float: right;
}
ul.game-selection-menu > li {
	display: inline-block;
	margin: 0 2px;
	vertical-align: top;
}
#aueio_club_game_form_new > div,
#aueio_club_game_form_edit > div{
	padding-bottom: 20px;
	text-align: center;
}
#aueio_club_game_form_new > div > div,
#aueio_club_game_form_edit > div > div{
	display: 	inline-block;
	width:		400px;
	margin:		0px auto;
	text-align: left;
}

#game-selection{
	padding: 0;
}
#game-selection > h4,
#game ul h4,
#game ul h5{
	text-align: center;
}
.left,
.right{
	display: inline-block;
	vertical-align: top;
	width: 40%;
}
.left{
	text-align: right;
}
.right{
	text-align: left;
}
#when{
	text-align: center;
}
#address
{
	display: inline-block;
	text-align: left;
}
#game #intro .link,
#game #intro .scores{
	font-size: 25px;
	margin: 20px 0;
}
#game #intro .scores{
	width: 20%;
}
#game #intro{
	text-align: center;
}

#where > a,
#where > h4{
	display: inline-block;
}
#when div.calendar,
#where > a{
	margin-left: 10px;
}
#when > h4,
#when div.calendar{
	display: inline-block;
}

.time{
	text-align: center;
}
#when-text{
	position:relative;
	top:0;
}
#game-selection > h4{
	padding: 20px;
}

#game ul.list div.short div.name{
	width:58%;
}

#results > li > input{
	width: 32px;
	display: inline-block;
}
#scores > li > ul > li,
#opponents > li > ul > li,
ul.count > li{
	display: inline-block;
}
#scores > li > ul > li:last-child,
#opponents > li > ul > li:last-child{
	float:right;
}
#scores > li > ul,
#opponents > li > ul{
	padding: 10px;
}
#scores > li > ul > li > a,
#opponents > li > ul > li > a{
	margin-top: 5px;
}
.count img{
	height: 16px;
	vertical-align: middle;
}
#scores li.selected:hover >a,
li.goal > a,
li.referee > a,
li.value,
div.value {
    background-color: white;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #86717F;
    color: #86717F;
    margin: 0 0 3px;
    padding: 2px 8px 3px 8px;
    text-decoration: none;
}
#scores li.unselected > a{
	background-color: rgba(151, 130, 144, 0.3);
}
#scores li.selected >a,
#scores li.unselected:hover > a,
li.delete > a,
li.goal:hover > a,
li.referee:hover > a{
    background-color: #86717F;
    color: white;
}

#results div.value{
	margin: 0 16px;
}
li.action{
	float:right;
}
#results > li:first-child {
	text-align: right;
}
#results > li > div {
	display: inline-block;
}
#scores,
#opponents,
#results .cols{
	width:44%;
	padding:3%;
}
#game form > div.cols > div {
	margin-bottom: 15px;
}
#game form label{
	float: left;
	width: 30%;
}
#game div.name > div.score{
	width: 20%;
}
#game div.name > div.link{
	width: 36%;
}
#game .list .short div.name > div.link{
	padding: 0 2%;
}

#game .list .short div.name > div.link{
	text-align: left;
}
#game .list .short div.name > div:first-child{
	text-align: right;
}
#game .list div.scores{
	text-align:	center;
}
#game .list div.scores > div.score{
	width: 25px;
}
#game-background{
	position: relative;
	width: 540px;
	height: 300px;
	margin: auto;
	background-image: url("/bundles/aueioclub/images/hand.png");
	background-position:100px 0px;
	background-repeat: no-repeat;
}
#wing_left,
#wing_right,
#back_left,
#back_right,
#center,
#goal,
#pivot{
	text-align:center;
	position: absolute;
	width:100px;
}
#wing_left{
	top:100px;
	left:0;
}
#wing_right{
	top:100px;
	right:0;
}
#back_left{
	top:220px;
	left:40px;
}
#back_right{
	top:220px;
	right:40px;
}
#goal,
#center,
#pivot{
	left:220px;
}
#goal{
	top:50px;
}
#pivot{
	top:170px;
}
#center{
	top:250px;
}
#game-shop > div{
	display: inline-block;
}
#form_cost{
	width: 60px;
}
#game ul.list > li div {
	vertical-align: middle;
}

#map_canvas{
	width:100%;
	height:100%;
}

#fade { /*--Masque opaque noir de fond--*/
	display: none; /*--masqué par défaut--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none; /*--masqué par défaut--*/
	background: #fff;
	border: 20px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	/*--Les différentes définitions de Box Shadow en CSS3--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--Coins arrondis en CSS3--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
img.btn_close {
	float: right;
	margin: -55px -55px 0 0;
}
/*--Gérer la position fixed pour IE6--*/
*html #fade {
position: absolute;
}
*html .popup_block {
position: absolute;
}

@CHARSET "UTF-8";
html{
	color:#000;background:#FFF;
}
html, body {
	height: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img{
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{
	font-style:inherit;
	font-weight:inherit;
}
del,ins{
	text-decoration:none;
}
li{
	list-style:none;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
	font-variant:normal;
}
sup{
	vertical-align:baseline;
}
sub{
	vertical-align:baseline;
}
legend{
	color:#000;
}
input,button,textarea,select,optgroup,option{
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
}
input, textarea {
    -moz-box-sizing: border-box;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    font: 120% Arial,Helvetica,sans-serif;
    padding: 5px;
    width: 100%;
}

html, body
{
   //background-color: #EFEFEF; 
}

body
{
    font-size:        14px;
    font-family:      "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    color:            #313131;
}

a
{
    color:           #86717F;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

strong
{
    font-weight: bold;
}

em
{
    font-style: italic;
}

h1, h2, h3
{
    color:          #404040;
}

h1
{
    font-size:      45px;
    padding-bottom: 30px;
}

h2
{
	font-size:      30px;
    font-weight:   bold;
    margin-bottom:    10px;
    padding:          2px 4px;
}

h3
{
	font-size:      20px;
    font-weight:   bold;
    margin-bottom:    10px;
    margin-top: 20px;
    padding:          2px 4px;
}
h4{
	font-weight:   bold;
	padding:          2px 4px;
	margin-top: 10px;
	margin-bottom:    5px;
}

p
{
    line-height:    20px;
    padding-bottom: 5px;
}
#header {
	background: url("/bundles/aueioclub/images/header_shadow.png") repeat-x scroll left bottom  #86717F;
    position: relative;
    min-height: 90px;
    vertical-align: top;
}
#header_title{
	width: 600px;
	top: 0;
	left:200px;
	position: absolute;
}
#header_switch h3{
	font-size: 18px;
}
#header_title h1{
    font-family: Georgia,times,serif;
    font-style: italic;
   	text-shadow: 1px 2px 4px #333333;
    text-align: center;
	padding: 0;
}
#header_title h1 > a {
	line-height: 1.4em;
	text-decoration: none;
	color: white;
}
#header_menu {
	vertical-align: baseline;
	bottom: 0;
    height: 23px;
    left: 230px;
    position: absolute;
}
#header_menu > li.selected > a,
#header_menu > li:hover > a {
	z-index: 1;
    background: none repeat scroll 0 0 white; //#EFEFEF;
    border-radius: 4px 4px 0 0;
    box-shadow: 2px -1px 1px rgba(0, 0, 0, 0.25);
    color: #86717F;
}
#header_menu > li > a {
	color: white; //#EFEFEF;
	text-decoration: none;
	display: block;
    font-weight: bold;
    height: 20px;
    padding: 3px 13px 0;
}
#header_menu > li {
	float: left;
    margin-right: 1px;
	position: relative;
}
#header_switch{
	display: inline-block;
	width: 200px;
	position: absolute;
	bottom: 0px;
}
#footer_menu a{
	color: white;
	font-weight: bold;
}
form.season-switch{
	padding-bottom: 10px;
	text-align: center;
}
form.season-switch h3{
	display: inline;
	color: white;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#footer {
    background: none repeat scroll 0 0 #86717F;
    color: white;
    font-size: 0.9em;
    line-height: 2em;
    text-align: center;
}
.inner {
	position: relative;
	width: 800px;
	margin: 0 auto;
	min-height:100%;
}
#header > .inner{
	height: 90px;
}
#sidebar{
	width: 180px;
    float: left;
	position: relative;
    padding: 20px 10px;
    margin: 0;
    min-height: 200px;
    -moz-opacity: 0.78;
}
#sidebar_menu > li > a{
	background-color: white; //#EFEFEF;
	text-decoration: none;
    border-radius: 8px 8px 8px 8px;
    display: block;
    margin: 0 0 3px;
    padding: 2px 4px 2px 8px;
}
#sidebar_menu > li.selected > a,
#sidebar_menu > li:hover > a{
	background-color: #86717F;
	color: white; //#EFEFEF;
}

#wrapper{
	min-height: 100%;
}
#layout{
	min-height: 100%;
}		
#content {
	width:   580px;
	overflow:auto;
	padding: 10px 10px 40px 10px;
	margin:0 0 0 200px;
	min-height: 200px;
	background: none repeat scroll 0 0 white;
}  /* must be same height as the footer */
#content-login{
	text-align: right;
}
ul.list > li {
	border-bottom: 1px dotted #9E8D99;
	line-height: 25px;
}
ul.list {
    clear: both;
    margin: 5px 0;
}
#footer {
	clear:both;
	position: relative;
	//margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear:both;
} 
input[type="submit"]{
    background: url("http://elgg18/_graphics/button_graduation.png") repeat-x scroll left 10px #86717F;
    border: 1px solid #86717F;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 0 black;
	cursor:pointer;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    outline: medium none;
    padding: 2px 4px;
    width: auto;
    margin-top: 15px;
}
#content-login{
	margin-bottom: 15px;
}
.system-messages {
    max-width: 500px;
    position: fixed;
    right: 30%;
    top: 120px;
    z-index: 2000;
    cursor: pointer;
    display: block;
    font-weight: bold;
}
ul.system-messages > li.notice{
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.45);
    padding: 3px 10px;
	color: white;
	background-color: orange;
}
.aueio_club_config_form > div > div,
#aueio_club_player_edit_form > div,
.fos_user_login > div,
.fos_user_profile_edit > div,
.fos_user_registration_register > div,
#fos_user_registration_form_address > div,
.fos_user_resetting_request > div,
.fos_user_resetting_reset > div > div,
.fos_user_registration_form > div {
	margin-bottom: 10px;
}
.fos_user_success{
	 background-color: black;
}
#aueio_club_player_edit_form div ul > li,
#aueio_club_team_new_form div ul > li,
#aueio_club_team_edit_form div ul > li,
.aueio_club_config_form div ul > li,
.fos_user_profile_edit div ul > li,
.fos_user_registration_register div  ul > li,
.fos_user_login > ul > li,
.fos_user_resetting_request > ul > li,
.fos_user_resetting_reset > ul > li,
.fos_user_registration_form > ul > li {
	margin-bottom: 5px;
	color: white;
	background-color: red;
	border-radius: 8px 8px 8px 8px;
	padding: 3px 10px;
}
#player-login,
.aueio_club_config_form,
.fos_user_login ,
.fos_user_profile_edit,
.fos_user_registration_register,
.fos_user_resetting_request,
.fos_user_resetting_reset,
.fos_user_registration_form,
#aueio_club_player_edit_form {
	width: 350px;
	padding:20px;
	margin: 50px auto;
	border: 1px dotted #9E8D99;
}
div.long,
div.short,
div.link,
div.name,
div.date,
div.address,
div.team,
div.phone,
div.position,
div.hand,
div.short-link,
div.vs,
div.day,
div.nb,
div.month,
div.year,
div.scores,
div.score{
	display: inline-block;
}

div.day{
	width:65px;
	text-align: right;
}
div.nb{
	width:30px;
	text-align:	center;
}
div.month{
	width:80px;
}
div.year{
	width:40px;
}
ul.list > li > div {
	width: 100%;
}
.cols{
	display: inline-block;
	width: 50%;
	vertical-align: top;
    padding: 0;
    margin: 0;
}

.cols > ul,
.cols > p  {
	padding: 2px;
}
li.player {
	padding:4px;
}
.stats > ul {
    padding: 10px;
}
.stats > ul > li.error{
	width: 50%;
}
.stats > ul > li {
	display: inline-block;
	vertical-align: top;
    padding: 0;
    margin: 0;
	width: 30%
}
.stats > ul > li > ul > li.red{
	color: red;
}
.stats > ul > li > ul > li.green{
	color: green;
}
.stats > ul > li > ul >.blue{
	color: blue;
}

li.player > div.short {
	width: 100%;
}
.full div.name{
	width: 100%;
	text-align: center;
	font-size: 25px;
	margin-bottom: 20px;
}
#intro{
	margin-bottom: 20px;
}
li.mobile{
	margin-top: 35px;
}

@CHARSET "UTF-8";

.player-view{
	padding: 10px;
}
#player-header{
	padding-bottom: 20px;
}
#player ul.list div.long > div.short{
	width:60%;
}
#player ul.list div.long > div.team,
#player ul.list div.long > div.phone{
	width:20%;
}
li.player div.short > div.link{
	width: 44%;
}
li.player div.short > div.position,
li.player div.short > div.handn{
	width: 28%;
}


#player-teams div.link{
	float:	right;
}
#aueio_club_player_edit_form #form_seasons{
	display: block;
}
.aueio_club_player_contact {
	padding: 10px;
	width:		560px !important;
	min-width:	560px !important;
	max-width:	560px !important;
}
.aueio_club_player_contact label{
	margin-top: 15px;
	margin-bottom: 10px;
}
.aueio_club_player_contact #subject > div{
	display: inline-block;
	margin-right: 3px;
}
.aueio_club_player_contact #subject > input{
	width: auto;
	padding: 5px;
}

.aueio_club_player_contact textarea{
	width:		100% !important;
	min-width:	100% !important;
	max-width:	100% !important;
	min-height: 250px;
}
@CHARSET "UTF-8";
div.LOST{
	color:red;
}
div.WIN{
	color:green;
}
div.NUL{
	color:blue;
}

@CHARSET "UTF-8";
div.sample{
	width: 80px;
}
div.sample{
	margin: 2px 5px;
}
#season
div.color{
	margin: 10px;
}
div.color,
div.sample{
	display:inline-block;
	
}

@CHARSET "UTF-8";
#team ul.list div.short div.link{
	width:30%;
}
#team ul.list div.short div.address{
	width:70%;
}
.full h2{
	padding-left: 150px;;
}
.role-team > div {
	display: inline-block;
	width: 33%;
}
#team form .cols{
	padding: 2%;
	width: 46%;
}
#team_slot_days,
#team_seasons,
#team_contacts{
	display: block;
	width: 100%;
}
#team form .cols > div{
	margin-bottom: 15px;
}
#slot{
	border: 1px dotted #9E8D99;
	padding: 5px;
}
#slot > div{
	margin-bottom: 15px;
}
#team_slot_days > label{
	width: 100%;
}
#trainning{
	text-align:center;
}
#news div.link{
	display: block;
	text-align: center;
	padding-bottom: 10px;
}
#team div.sample{
	maring: 0;
	border: 1px solid black;
	width: 60px;
	height: 20px;
}
#team #colors{
	padding: 0 10px;
}